:host {
  //   background-color: white;
  color: white;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 90vh;

  .wrapper__login {
    width: 300px;
    padding: 10px 10px;
    border: 1px solid white;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    .inputs__login {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
      gap: 5 px;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    .buttons__login {
      display: flex;
      justify-content: center;
      gap: 5px;
      padding-bottom: 10px;
      .login-button:hover {
        color: rgb(5, 43, 43);
        filter: drop-shadow(2px 2px #8f5a8f93);
      }
      .register-button:hover {
        color: rgb(5, 43, 43);
        filter: drop-shadow(2px 2px #8f5a8f93);
      }
    }
  }
}
